<nav>
  <ul>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/templateform" routerLinkActive="active">Template Form</a>
    </li>
    <li>
      <a routerLink="/reactiveform" routerLinkActive="active">Reactive Form</a>
    </li>
    <li>
      <a routerLink="/getdata" routerLinkActive="active">Get Data</a>
    </li>
    <li>
      <a routerLink="/postdata" routerLinkActive="active">Post Data</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
